body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:95vh;
    background-color:#93aa6f;
}

.gameboard {
   height: 300px; 
   width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.boardElement{
    font-size: 4rem;
    background-color:rgb(184, 183, 183)
}