body{
    flex-direction: column;    
    display: flex;
    justify-content: center;
    align-items: center;
    height:95vh;
    background-color:#3a106b;
}

.gameboard {
   height: 300px; 
   width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.boardElement{
    font-size: 4rem;
    background-color:#790b66;
    color: rgb(209, 211, 209);    
}

#restart{
    width: 200px;
    height: 60px;
    font-size: 2rem;
    background-color: #be1741;
    color: #cebcbc;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.message{
    font-size:5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: #dad601;
}

.main{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}